<% include ../partials/header %>
<h1>Estimated wait is:</h1>
<form "/appointments" method="POST">
    <input type="text" name="name" placeholder="name" required>
    <input type="text" name="phone" placeholder="phone" required>
    <input type="submit">
</form>
<% include ../partials/footer %>