<% include ../partials/header %>
<div class="container">
    <h1>Customer queue display</h1>
    <ol>
        <% appointments.forEach(function(appointment){ %>
            <li><%= appointment.name %></li>
        <% }); %>
    </ol>
</div>

<% include ../partials/footer %>